.App {
  text-align: center;
  display: grid;
  grid-template-columns: 70px auto;
  height:100vh;
}

ul {
  list-style: none;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
